TallerInformatica1_WebService/Service References/ServiceReferencesumaNumeros/WebService_SumaNumeros.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sumaNumeros">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="primerNumero" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="segundoNumero" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sumaNumerosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="sumaNumerosResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sumaNumerosSoapIn">
    <wsdl:part name="parameters" element="tns:sumaNumeros" />
  </wsdl:message>
  <wsdl:message name="sumaNumerosSoapOut">
    <wsdl:part name="parameters" element="tns:sumaNumerosResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService_SumaNumerosSoap">
    <wsdl:operation name="sumaNumeros">
      <wsdl:input message="tns:sumaNumerosSoapIn" />
      <wsdl:output message="tns:sumaNumerosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService_SumaNumerosSoap" type="tns:WebService_SumaNumerosSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sumaNumeros">
      <soap:operation soapAction="http://tempuri.org/sumaNumeros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService_SumaNumerosSoap12" type="tns:WebService_SumaNumerosSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="sumaNumeros">
      <soap12:operation soapAction="http://tempuri.org/sumaNumeros" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService_SumaNumeros">
    <wsdl:port name="WebService_SumaNumerosSoap" binding="tns:WebService_SumaNumerosSoap">
      <soap:address location="http://localhost:5193/WebService_SumaNumeros.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService_SumaNumerosSoap12" binding="tns:WebService_SumaNumerosSoap12">
      <soap12:address location="http://localhost:5193/WebService_SumaNumeros.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>